/* Animations related styles. */
@keyframes --sm-animation-wave {
  0% {
    translate: -100%;
  }

  100% {
    translate: 100%;
  }
}

@keyframes --sm-animation-wave-reverse {
  0% {
    translate: 100%;
  }

  100% {
    translate: -100%;
  }
}

@keyframes --sm-animation-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
