/* Base styles.
Applied by default and not related to any of the color scheme or setting.
--------------------------------------------------------------------------------*/
.sm-loading {
  .sm-item-primary,
  .sm-item-secondary {
    /* The paint containment value informs the browser that none of the descendants
    of the element will be painted outside of the border-box of the element.
    https://css-tricks.com/almanac/properties/c/contain/
    --------------------------------------------------------------------------------*/
    contain: paint;
    border-color: transparent !important;
    color: transparent !important;
    cursor: wait;
    outline: none;
    position: relative;
    user-select: none;

    /* The part that will be stretched across the entire element and animated.
    Additionally, colors and animation are applied in other files, depending on the conditions and settings.
    --------------------------------------------------------------------------------*/
    &:before {
      position: absolute;
      inset: 0;
      content: "\00a0";
      color: transparent;
      width: 100%;
      height: 100%;
    }

    &:empty:after {
      content: "\00a0";
    }

    &::placeholder {
      color: transparent !important;
    }

    * {
      visibility: hidden;
    }
  }
}
