/* Root variables.
--------------------------------------------------------------------------------*/
:root {
    /* Light theme colors. */
    --sm-color-light-primary: 204, 204, 204, 1;
    --sm-color-light-secondary: 227, 227, 227, 1;
    --sm-color-light-animation-primary: color-mix(
            in srgb,
            #fff 15%,
            rgba(var(--sm-color-light-primary))
    );
    --sm-color-light-animation-secondary: color-mix(
            in srgb,
            #fff 15%,
            rgba(var(--sm-color-light-secondary))
    );

    /* Dark theme colors. */
    --sm-color-dark-primary: 37, 37, 37, 1;
    --sm-color-dark-secondary: 41, 41, 41, 1;
    --sm-color-dark-animation-primary: color-mix(
            in srgb,
            #fff 2%,
            rgba(var(--sm-color-dark-primary))
    );
    --sm-color-dark-animation-secondary: color-mix(
            in srgb,
            #fff 2%,
            rgba(var(--sm-color-dark-secondary))
    );

    /* Animations. */
    --sm-animation-duration: 1.5s;
    --sm-animation-timing-function: linear;
    --sm-animation-iteration-count: infinite;
}

/* Base styles.
Applied by default and not related to any of the color scheme.
--------------------------------------------------------------------------------*/
.sm-loading .sm-item-primary,
.sm-loading .sm-item-secondary {
    border-color: transparent !important;
    color: transparent !important;
    cursor: wait;
    outline: none;
    position: relative;
    user-select: none;
}

.sm-loading .sm-item-primary:before,
.sm-loading .sm-item-secondary:before {
    clip: rect(1px, 1px, 1px, 1px);
    content: "Loading, please wait.";
    inset: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.sm-loading .sm-item-primary::placeholder,
.sm-loading .sm-item-secondary::placeholder {
    color: transparent !important;
}

.sm-loading .sm-item-primary *,
.sm-loading .sm-item-secondary * {
    visibility: hidden;
}

.sm-loading .sm-item-primary :empty:after,
.sm-loading .sm-item-primary:empty:after,
.sm-loading .sm-item-secondary :empty:after,
.sm-loading .sm-item-secondary:empty:after {
    content: "\00a0";
}

/* Animations related styles. */
@keyframes --sm--animation-wave {
    to {
        background-position-x: -200%;
    }
}

@keyframes --sm--animation-wave-reverse {
    to {
        background-position-x: 200%;
    }
}

@keyframes --sm--animation-pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.sm-loading .sm-item-primary,
.sm-loading .sm-item-secondary {
    animation: var(--sm-animation-duration) --sm--animation-wave
    var(--sm-animation-timing-function) var(--sm-animation-iteration-count);
}

/* Light theme.
The library's default color scheme.
Styles applied to the light color scheme.
--------------------------------------------------------------------------------*/
.sm-loading .sm-item-primary {
    background: rgba(var(--sm-color-light-primary));
}

.sm-loading .sm-item-secondary {
    background: rgba(var(--sm-color-light-secondary));
}

/* Animations related styles. */
.sm-loading .sm-item-primary {
    background: linear-gradient(
            90deg,
            transparent 40%,
            var(--sm-color-light-animation-primary) 50%,
            transparent 60%
    )
    rgba(var(--sm-color-light-primary));
    background-size: 200% 100%;
}

.sm-loading .sm-item-secondary {
    background: linear-gradient(
            90deg,
            transparent 40%,
            var(--sm-color-light-animation-secondary) 50%,
            transparent 60%
    )
    rgba(var(--sm-color-light-secondary));
    background-size: 200% 100%;
}

/* Dark theme.
Styles to apply if a user's device settings are set to use dark color scheme.
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme
--------------------------------------------------------------------------------*/
@media (prefers-color-scheme: dark) {
    .sm-loading .sm-item-primary {
        background: rgba(var(--sm-color-dark-primary));
    }

    .sm-loading .sm-item-secondary {
        background: rgba(var(--sm-color-dark-secondary));
    }

    /* Animations related styles. */
    .sm-loading .sm-item-primary {
        background: linear-gradient(
                90deg,
                transparent 40%,
                var(--sm-color-dark-animation-primary) 50%,
                transparent 60%
        )
        rgba(var(--sm-color-dark-primary));
        background-size: 200% 100%;
    }

    .sm-loading .sm-item-secondary {
        background: linear-gradient(
                90deg,
                transparent 40%,
                var(--sm-color-dark-animation-secondary) 50%,
                transparent 60%
        )
        rgba(var(--sm-color-dark-secondary));
        background-size: 200% 100%;
    }
}

/* Accessibility.
Disable animations if a user's device settings are set to reduced motion.
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
--------------------------------------------------------------------------------*/
@media (prefers-reduced-motion) {
    .sm-loading .sm-item-primary {
        background: rgba(var(--sm-color-light-primary));
    }

    .sm-loading .sm-item-secondary {
        background: rgba(var(--sm-color-light-secondary));
    }

    .sm-loading .sm-item-primary,
    .sm-loading .sm-item-secondary {
        animation: none !important;
    }

    /* Dark theme related styles. */
    @media (prefers-color-scheme: dark) {
        .sm-loading .sm-item-primary {
            background: rgba(var(--sm-color-dark-primary));
        }
        .sm-loading .sm-item-secondary {
            background: rgba(var(--sm-color-dark-secondary));
        }
    }
}

/* Configuration.
Styles to apply if a configuration object is set for an HTML element
with the class ".sm-loading" as an attribute: "data-sm-config".
--------------------------------------------------------------------------------*/
/* { animation: "wave" }. */
.sm-loading[data-sm-config*='"animation":"wave"'] .sm-item-primary {
    background: linear-gradient(
            90deg,
            transparent 40%,
            var(--sm-color-light-animation-primary) 50%,
            transparent 60%
    )
    rgba(var(--sm-color-light-primary));
    background-size: 200% 100%;
}

.sm-loading[data-sm-config*='"animation":"wave"'] .sm-item-secondary {
    background: linear-gradient(
            90deg,
            transparent 40%,
            var(--sm-color-light-animation-secondary) 50%,
            transparent 60%
    )
    rgba(var(--sm-color-light-secondary));
    background-size: 200% 100%;
}

@media (prefers-color-scheme: dark) {
    .sm-loading[data-sm-config*='"animation":"wave"'] .sm-item-primary {
        animation: var(--sm-animation-duration) --sm--animation-wave
        var(--sm-animation-timing-function) var(--sm-animation-iteration-count);
        background: linear-gradient(
                90deg,
                transparent 40%,
                var(--sm-color-dark-animation-primary) 50%,
                transparent 60%
        )
        rgba(var(--sm-color-dark-primary));
        background-size: 200% 100%;
    }

    .sm-loading[data-sm-config*='"animation":"wave"'] .sm-item-secondary {
        background: linear-gradient(
                90deg,
                transparent 40%,
                var(--sm-color-dark-animation-secondary) 50%,
                transparent 60%
        )
        rgba(var(--sm-color-dark-secondary));
        background-size: 200% 100%;
    }
}

/* { animation: "wave", theme: "light" }. */
.sm-loading[data-sm-config*='"animation":"wave"'][data-sm-config*='"theme":"light"']
.sm-item-primary {
    background: rgba(var(--sm-color-light-primary));
    background: linear-gradient(
            90deg,
            transparent 40%,
            var(--sm-color-light-animation-primary) 50%,
            transparent 60%
    )
    rgba(var(--sm-color-light-primary));
    background-size: 200% 100%;
}

.sm-loading[data-sm-config*='"animation":"wave"'][data-sm-config*='"theme":"light"']
.sm-item-secondary {
    background: rgba(var(--sm-color-light-secondary));
    background: linear-gradient(
            90deg,
            transparent 40%,
            var(--sm-color-light-animation-secondary) 50%,
            transparent 60%
    )
    rgba(var(--sm-color-light-secondary));
    background-size: 200% 100%;
}

/* { animation: "wave", theme: "dark" }. */
.sm-loading[data-sm-config*='"animation":"wave"'][data-sm-config*='"theme":"dark"']
.sm-item-primary {
    background: rgba(var(--sm-color-dark-primary));
    background: linear-gradient(
            90deg,
            transparent 40%,
            var(--sm-color-dark-animation-primary) 50%,
            transparent 60%
    )
    rgba(var(--sm-color-dark-primary));
    background-size: 200% 100%;
}

.sm-loading[data-sm-config*='"animation":"wave"'][data-sm-config*='"theme":"dark"']
.sm-item-secondary {
    background: rgba(var(--sm-color-dark-secondary));
    background: linear-gradient(
            90deg,
            transparent 40%,
            var(--sm-color-dark-animation-secondary) 50%,
            transparent 60%
    )
    rgba(var(--sm-color-dark-secondary));
    background-size: 200% 100%;
}

/* { animation: "none" }. */
.sm-loading[data-sm-config*='"animation":"none"'] .sm-item-primary {
    animation: none;
    background: rgba(var(--sm-color-light-primary));
}

.sm-loading[data-sm-config*='"animation":"none"'] .sm-item-secondary {
    animation: none;
    background: rgba(var(--sm-color-light-secondary));
}

@media (prefers-color-scheme: dark) {
    .sm-loading[data-sm-config*='"animation":"none"'] .sm-item-primary {
        animation: none;
        background: rgba(var(--sm-color-dark-primary));
    }
    .sm-loading[data-sm-config*='"animation":"none"'] .sm-item-secondary {
        animation: none;
        background: rgba(var(--sm-color-dark-secondary));
    }
}

/* { animation: "none", theme: "light" }. */
.sm-loading[data-sm-config*='"animation":"none"'][data-sm-config*='"theme":"light"']
.sm-item-primary {
    animation: none;
    background: rgba(var(--sm-color-light-primary));
}
.sm-loading[data-sm-config*='"animation":"none"'][data-sm-config*='"theme":"light"']
.sm-item-secondary {
    animation: none;
    background: rgba(var(--sm-color-light-secondary));
}

/* { animation: "none", theme: "dark" }. */
.sm-loading[data-sm-config*='"animation":"none"'][data-sm-config*='"theme":"dark"']
.sm-item-primary {
    animation: none;
    background: rgba(var(--sm-color-dark-primary));
}

.sm-loading[data-sm-config*='"animation":"none"'][data-sm-config*='"theme":"dark"']
.sm-item-secondary {
    animation: none;
    background: rgba(var(--sm-color-dark-secondary));
}

/* { theme: "light" }. */
.sm-loading[data-sm-config*='"theme":"light"'] .sm-item-primary {
    background: rgba(var(--sm-color-light-primary));
    background: linear-gradient(
            90deg,
            transparent 40%,
            var(--sm-color-light-animation-primary) 50%,
            transparent 60%
    )
    rgba(var(--sm-color-light-primary));
    background-size: 200% 100%;
}

.sm-loading[data-sm-config*='"theme":"light"'] .sm-item-secondary {
    background: rgba(var(--sm-color-light-secondary));
    background: linear-gradient(
            90deg,
            transparent 40%,
            var(--sm-color-light-animation-secondary) 50%,
            transparent 60%
    )
    rgba(var(--sm-color-light-secondary));
    background-size: 200% 100%;
}

/* { theme: "dark" }. */
.sm-loading[data-sm-config*='"theme":"dark"'] .sm-item-primary {
    background: rgba(var(--sm-color-dark-primary));
    background: linear-gradient(
            90deg,
            transparent 40%,
            var(--sm-color-dark-animation-primary) 50%,
            transparent 60%
    )
    rgba(var(--sm-color-dark-primary));
    background-size: 200% 100%;
}

.sm-loading[data-sm-config*='"theme":"dark"'] .sm-item-secondary {
    background: rgba(var(--sm-color-dark-secondary));
    background: linear-gradient(
            90deg,
            transparent 40%,
            var(--sm-color-dark-animation-secondary) 50%,
            transparent 60%
    )
    rgba(var(--sm-color-dark-secondary));
    background-size: 200% 100%;
}

/* { orientation: "right-to-left" } */
.sm-loading[data-sm-config*='"animation":"wave"'][data-sm-config*='"orientation":"right-to-left"'] .sm-item-primary,
.sm-loading[data-sm-config*='"animation":"wave"'][data-sm-config*='"orientation":"right-to-left"'] .sm-item-secondary {
    animation: var(--sm-animation-duration) --sm--animation-wave-reverse
    var(--sm-animation-timing-function) var(--sm-animation-iteration-count);
}

/* { animation: "pulse" } */
.sm-loading[data-sm-config*='"animation":"pulse"'] .sm-item-primary,
.sm-loading[data-sm-config*='"animation":"pulse"'] .sm-item-secondary {
    animation: var(--sm-animation-duration) --sm--animation-pulse
    var(--sm-animation-timing-function) var(--sm-animation-iteration-count);
}