@import "../variables/colors";
@import "../variables/animations";

/* Accessibility.
Disable animations if a user's device settings are set to reduced motion.
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
--------------------------------------------------------------------------------*/
@mixin mixin-apply-accessibility-reduced-motion() {
  @media (prefers-reduced-motion) {
    .sm-item-primary,
    .sm-item-secondary {
      &:before {
        animation: $--sm-animation-none;
      }
    }

    .sm-item-primary {
      &:before {
        background: rgba($--sm-color-light-primary);
      }
    }

    .sm-item-secondary {
      &:before {
        background: rgba($--sm-color-light-secondary);
      }
    }

    /* Dark theme related styles. */
    @media (prefers-color-scheme: dark) {
      .sm-item-primary {
        &:before {
          background: rgba($--sm-color-dark-primary);
        }
      }

      .sm-item-secondary {
        &:before {
          background: rgba($--sm-color-dark-secondary);
        }
      }
    }
  }
}
